
.cart .cart-prod {
    display: flex;
    align-items: center;
    border: 1px solid #e3e4e5;
    margin: 10px 10px;
}

.cart .cart-prod img {
    width: 100px;
}

.cart .cart-prod label {
    flex: 1;
}

.cart .cart-prod .info {
    flex: 3;
}