
.catalog {
    font-family: Arial, sans-serif;
}

.filters{
    margin-bottom: 20px;
}

.filters button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filters button:hover {
    background-color: #0056b3;
}

.search {
    display: inline-block;
    margin-left: 20px;
}

.search input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.search input:focus {
    outline: none;
    border-color: #007bff;
}

.catalog .search {
    width: 300px;
    display: inline-block;
    margin-left: 30px;
}