/* ShoppingList.css */

.shopping {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.shopping h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.shopping .form {
    margin-bottom: 20px;
}

.shopping .form input {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

.shopping .form button {
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.shopping .form button:hover {
    background-color: #0056b3;
}

.shopping .list {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.shopping .list .info {
    font-size: 20px;
    font-weight: 500;
    color: #666;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.shopping .list li {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopping .list li .item-name {
    flex-grow: 1;
}
